body {
    margin-top: 50px;
}

img {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    /*opacity: 0.9;*/
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px; 
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    }


